* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "open sans", sans-serif;
  line-height: 1.6em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
  color: var(--main-color);
}

h3 {
  font-size: 34px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  /* margin: 0; */
  /* padding: 0; */
}

ul li {
  /* list-style: none; */
}

button {
  border: none;

  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}