@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("/assets/fonts/Neucha/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src:
    local("OpenSans-Regular"),
    url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  src:
    local("OpenSans-Bold"),
    url("/assets/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

/* TODO разобраться с резервными семействами и шрифтами */