.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: var(--light);
}

.section {
  position: relative;

  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  /* border: 2px solid red; */
}

.section::before {
  position: absolute;

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;

  opacity: 0.1;

  content: "";

  /* background-size: cover; */
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 100px auto;

  /* border: 2px solid blue; */
}

.title-main {
  display: inline;
}

.main-color {
  color: var(--main-color);
}

.img-main {
  position: absolute;
  top: -45px;
  right: -270px;

  height: 525px;

  /* border: 2px solid yellowgreen; */
}

.text-col {
  margin-top: 185px;

  column-count: 2;
  column-gap: 30px;

  /* border: 2px solid black; */
}

.btn {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--main-color);
}