.wrapper {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  z-index: -10000;
  background-color: var(--light);
}

.section {
  position: relative;

  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  border: 2px solid red;
}

.background::before {
  position: absolute;

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  /* z-index: -300; */

  background-image: url(../img/background.png);
  background-repeat: no-repeat;

  opacity: 0.1;

  content: "";

  /* background-size: cover; */
}

.sec-navigation {
  height: 991px;
  background-color: var(--main-color-dark);
}

.sec-ikea {
  background-color: var(--light);
}

.sec-optimization {
  background-color: var(--brown);
}

.sec-novelty {
  background-color: var(--light);
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 100px auto;

  /* border: 2px solid blue; */
}

.title-main {
  display: inline;
}

.main-color {
  color: var(--main-color);
}

.img-main {
  position: absolute;
  top: -45px;
  right: -270px;

  height: 525px;

  /* border: 2px solid yellowgreen; */
}

.text-col {
  margin-top: 185px;

  column-count: 2;
  column-gap: 30px;

  /* border: 2px solid black; */
}

.btn {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--main-color);
}

.title-video {
  text-align: center;
  margin-bottom: 27px;
}

.discription {
  text-align: center;
  margin-bottom: 30px;
}

.container-video {
  position: relative;
}

.video-sec {
  height: 814px;
  z-index: 300;
}

.video-port {
  position: absolute;
  width: 919px;
  height: 569px;
  left: 50%;
  transform: translate(-50%, 0);
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}



.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 216px;
}

.item-number {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
  font-family: Neucha;
}


.bg-light {
  background-color: var(--light);
}

.nav-item:nth-child(3n) {
  margin-right: 0px;
}

.nav-item:nth-child(4)) {
  margin-bottom: 0px;
}

.nav-title {
  font-size: 52px;
  line-height: 120%;
  color: #fff;
  font-family: Neucha;
}

.nav-item {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 24px;
  background-color: var(--white);
}

.item-title {
  font-family: Neucha;
  color: var(--main-color);
  margin-bottom: 16px;
}

.nav-item:hover {
  background-color: var(--main-color);
}

.nav-item:hover .item-link {
  color: var(--white);
}

.nav-item:hover .item-title {
  color: var(--white);
}

.nav-item-title {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.bottom-article {
  margin-top: 100px;
  margin-bottom: 20px;
}

.upper-article {
  column-count: 2;
  column-gap: 30px;
}

.ikea-pre-title {
  font-family: Neucha;
  font-size: 24px;
  color: var(--semi-trans-dark);
}

.ikea-content-upper {
  font-family: Neucha;
  font-size: 34px;
  line-height: 41px;
  margin-top: 30px;
}

.image {
  vertical-align: middle;
}


.ikea-title-2 {
  background-color: var(--brown);
}

.ikea-title-2-h3 {
  display: block;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding: 5px 0 5px 10px;
}

.ikea-content-bottom {
  margin-top: 35px;
  column-count: 2;
  column-gap: 30px;
  break-after: avoid;
}

.col-semi-trans {
  color: var(--semi-trans-white);
}

.col-white {
  color: #fff;
}

.invert-title {
  background-color: #fff;
}

.invert-title-h3 {
  color: var(--brown);
}