:root {
  --white: #fff;
  --brown: #b09a81;
  --blue: #1085c5;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --dark: #2a2626;
  --main-color-dark: #42413c;
  --semi-trans-dark: #908d8b;
  --semi-trans-white: #d7ccc0;
}